HELP.md
fqw/logs
fqw/target
protocol/target
hub/target
support/target
auth/target
email/target
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

### Custom ###
logs/
frontend/node_modules/

### ENVS ###
docker/.env
frontend/.env

### React ###
frontend/dist
frontend/node_modules
frontend/package-lock.json