<!DOCTYPE html>
<html lang="en"
      xmlns:th='http://thymeleaf.org'
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FQW Terminal</title>
    <link rel="stylesheet" href="/css/normalize.css" />
    <link rel="stylesheet" href="/css/bootstrap-grid.min.css" />
    <link rel="stylesheet" href="/css/console.css"/>
<!--    <link rel="stylesheet" href="/thirdParty/xterm/css/xterm.css">-->
<!--    <script defer src="/thirdParty/xterm/lib/xterm.js"></script>-->
    <script defer src="/js/console.js"></script>
</head>
<body>
    <div class="container-fluid  window-styling">
        <div id="terminal" class="terminal-styling"></div>
    <button class="send" id="send">send</button>
</div>
<div class="container-fluid promt-list">
    <h2 class="promt-list__header"> Promts</h2>
        <ul class="promt-list__items">
            <li class="promt-list__value"> promt</li>
        </ul>

</div>

</body>
</html>