<!DOCTYPE html>
<html lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}"
>
    <body layout:fragment="body">
        <main layout:fragment="main">
            <div class=" container instruction">
                <h1> Инструкция по использованию сервиса</h1>



                <h2> Базовое взаимодействие</h2>
                <div class="text-space">
                    <p class="instruction-text">
                        Добро пожаловать на страницу с инструкцией к сервису FQW Workstation.
                    </p>
                </div>

                <p class="instruction-text" >На данной странице будут подробно объяснен весь Функционал сервиса и все возможные с ним взаисодействия.<br>

                    <br>
                    На данный момент Функционал сервиса включает в себя: просмотр таблиц с ВКР за определенный год и экспорт таблиц с ВКР за определенный год.

                    Для просмотра таблиц с ВКР, необходимо:<br><br>

                    1. перейти на главную страницу сервиса

                </p>

                <picture class="instruction-picture">
                    <img src="/img/1.jpg" alt="Пример выбора параметров" class="instruction-img">
                    <figcaption>(Пример выбора параметров)</figcaption>
                </picture>

                <p class="instruction-text">
                    2. Задать параметры поиска нужных данных о ВКР и нажать на кнопку "Получить":
                </p>

                <picture class="instruction-picture">
                    <img src="/img/2.jpg" alt="Пример выбора параметров" class="instruction-img">
                    <figcaption>(Пример выбора параметров)</figcaption>
                </picture>


                <p class="instruction-text">
                    3. В резульате сервис предоставит таблицу следующего формата, которую можно будет <a href="#export">экспортировать</a>: </p>

                <picture class="instruction-picture-special">
                    <img src="/img/3.jpg" alt="Пример выбора параметров" class="instruction-img">
                    <figcaption>(Пример полученной таблицы)</figcaption>
                </picture>

                <h2 id="export">Экспорт данных </h2>
                <p class="instruction-text">
                    1. Для экспорта данных из сервиса необходимо переместиться вниз страницы и нажать на кнопку "Скачать таблицу":
                </p>

                <picture class="instruction-picture">
                    <img src="/img/4.jpg" alt="Пример выбора параметров" class="instruction-img">
                    <figcaption>(Кнопка загрузки)</figcaption>
                </picture>

                <p class="instruction-text">
                    2. Загруженный файл будет находиться в папке с загрузками:
                </p>


                <picture class="instruction-picture">
                    <img src="/img/5.jpg" alt="Пример выбора параметров" class="instruction-img">
                    <figcaption>(Загруженный файл)</figcaption>
                </picture>

                <p class="instruction-text">
                    3. Откройте приложение Microsoft Excel и во вкладке данных выбирите "получить данные из CSV-файла":
                </p>


                <picture class="instruction-picture">
                    <img src="/img/6.jpg" alt="Пример выбора параметров" class="instruction-img">
                    <figcaption>("получить данные из CSV-файла")</figcaption>
                </picture>


                <p class="instruction-text">
                    4. Выберите файл в всплывающем окне и нажмите на импорт:
                </p>

                <picture class="instruction-picture-special">
                    <img src="img/7.jpg" alt="Пример выбора параметров" class="instruction-img" width = "700px" height="400px">
                    <figcaption>("Импорт данных")</figcaption>
                </picture>



                <p class="instruction-text">
                    5. В всплывающем окне нажмите на загрузить и при необходимости отредактируйте импортированные данные вручную
                </p>


                <picture class="instruction-picture">
                    <img src="/img/8.jpg" alt="Пример выбора параметров" class="instruction-img" width = "700px" height="400px">
                    <figcaption>("Предпросмотр импортированных данных")</figcaption>
                </picture>

                <picture class="instruction-picture">
                    <img src="/img/9.jpg" alt="Пример выбора параметров" class="instruction-img" width = "700px" height="400px">
                    <figcaption>("Пример необходимых корректировок после импорта")</figcaption>
                </picture>



            </div>

        </main>
        <footer layout:fragment="footer"></footer>
    </body>
</html>