.instruction {
	background-color: aliceblue;
    display: flex;
    flex-direction: column;
    padding-left: 30px;
    padding: 50px 50px;
    border-radius: 10px;
    text-align: start;
    overflow: auto;
    justify-content: center;
    float: left;
    margin: 0;
    max-width: 82%;
	border: 5px solid #5a84c9;
}

.instruction-picture{

	margin-bottom: 20px;
	display: flex;
	flex-direction: column;
	align-items: center;
	font-size: 14px;
	font-style: italic;
}

.instruction-picture-special{

	max-height: 500px;
	margin-bottom: 20px;
	display: flex;
	flex-direction: column;
	align-items: center;
	font-size: 14px;
	font-style: italic;
}


.instruction-text{
	padding:0 ;
	margin: 0;
	margin-bottom: 20px;
	flex-wrap: wrap;
    align-content: space-between;
	font-size: 18px;
	line-height: 20px;
}

.instruction-img{
	max-width: 100%;
	max-height: 500px;
}

.text-space{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    align-content: space-around;
    flex-wrap: wrap;
}

.accordion{
	width: 100%;
}

.accordion-button {
	background-color: aliceblue;
	color: #3b71ca;
	font-weight: 700;
	border: 2px solid #5a84c9;
}

.accordion-button:not(.collapsed) {
	background-color: aliceblue;
}

.accordion-body {
    background-color: aliceblue;
	border: 2px solid #5a84c9;}

.instruction-container{
	display: flex;
	flex-direction: row;
	margin-bottom: 50px;
	padding: 0 50px;
}

.aside__menu{

	min-width: 256px;
    max-height: 128px;
    position: fixed;
    right: 20px;
    border-radius: 20px;
}

.aside__menu__container{
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	background-color: aliceblue;
	border: 5px solid #5a84c9;
	border-radius: 4px;
}

.aside__link__list{
	display: flex;
	flex-direction: column;
	list-style: none;
	padding: 0;
}

.show__container{
	display: flex;
	flex-direction: column;
	margin: 0;
}

.manual__header-main{
	margin: 0 auto;
	margin-bottom: 25px;
}

.manual__header{
	margin: 0 auto;
	margin-bottom: 25px;
}

.accordion{
	margin-bottom: 25px;
}
